body{
    height: 90vh;
    background-color: #888;
    margin: 50px;
}
.jokeSection{
    /* font-size: 70px; */
    display: flex;
    flex-direction: column;
    background-color: #999;
    border: 3px solid violet;
    padding: 10px;
    justify-content: space-between;
    border-radius: 20px;
    color: white;
}

#joke{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    scale: 2;
    border: 2px solid white;
    padding: 10px;
    border-radius: 30px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: auto;
}
#getRandomJokeBtn{
    z-index: 100;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color:white;
    border-radius: 20px;
    cursor: pointer;
}

.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

